{% extends 'base.html' %}
{% block header %}
    <header class="intro-header" style="background-image: url('/resources/img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        <h2 class="subheading">{{ post.subtitle }}</h2>
                        <span class="meta">Posted by <a style="color: cornflowerblue"
                                                        href="/users/{{ post.user.key().id() }}/posts">{{ post.user.username }}</a> on {{ post.created_at.strftime("%Y-%m-%d") }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
        <article>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p style="white-space: pre-wrap;">{{ post.content }}</p>
                </div>
            </div>
            {% if user is defined and user.key().id() == post.user.key().id() %}
                <hr>
                <div class="row">
                    <div class="col-lg-4 col-md-4 text-center">
                        <button data-toggle="modal" data-target="#deleteConfirmModal" class="btn btn-danger">Delete
                        </button>
                    </div>
                    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 text-center">
                        <a href="/posts/{{ post.key().id() }}/edit" role="button" class="btn btn-default">Edit</a>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog"
                     aria-labelledby="modalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="modalLabel">Confirm delete post</h4>
                            </div>
                            <form action="/posts/{{ post.key().id() }}/delete" method="post">
                                <div class="modal-body">
                                    Are you sure to delete this post ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        </article>

        <hr>

        <div class="like-section">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    {% if user is not defined or user.key().id() == post.user.key().id() %}
                        <button disabled class="btn btn-default">Like</button>
                    {% elif like %}
                        <button id="unlike-{{ like.key().id() }}" class="btn btn-info">Unlike</button>
                    {% else %}
                        <button id="like" class="btn btn-default">Like</button>
                    {% endif %}
                </div>
                <div class="col-lg-6 col-md-6 text-left small">
                    {% if post.num_likes <= 1 %}
                        <p class="like-text">{{ post.num_likes }} person likes this post</p>
                    {% else %}
                        <p class="like-text">{{ post.num_likes }} people like this post</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="commentSection">
            {% if user is defined %}
                <div class="row" id="commentForm">
                    <div class="col-lg-8 col-md-8">
                        <form id="commentForm">
                            <div class="form-group">
                            <textarea rows="5" style="min-width: 100%" name="content"
                                      placeholder="Enter your comment"></textarea>
                            </div>
                            <input type="submit" class="btn btn-default" value="Comment"/>
                        </form>
                    </div>
                </div>
            {% endif %}

            <ul class="pager">
                <li class="next">
                    <a href id="next">Older Comments &rarr;</a>
                </li>
                <li class="next">
                    <a href id="prev">&larr; Newer Comments</a>
                </li>
            </ul>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var element = function (comment) {
                var ele =
                    '<div class="row comment" id="' + comment._id + '">'
                    + '<div class="col-lg-8 col-md-8">'
                    + '<div class="panel panel-default container-fluid">'
                    + '<div class="panel-heading row">'
                    + '<div class="col-lg-6 col-md-6 text-left">'
                    + '<strong>' + comment.user.username + '</strong> <span class="text-muted">commented on ' + comment.created_at + '</span>'
                    + '</div>';

                {% if user is defined %}
                    if (comment.user._id == '{{ user.key().id() }}') {
                        ele +=
                            '<div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 text-right small">'
                            + '<a href id="edit-' + comment._id + '">Edit</a>'
                            + '</div>'
                            + '<div class="col-lg-2 col-md-2 text-right small">'
                            + '<a href id="delete-' + comment._id + '">Delete</a>'
                            + '</div>';
                    }
                {% endif %}

                ele +=
                    '</div>'
                    + '<div class="panel-body">'
                    + '<p class="comment-content">' + comment.content + '</p>'
                    + '</div>'
                    + '</div>'
                    + '</div>'
                    + '</div>';
                return ele;
            };

            var renderComments = function (page) {
                $("div.comment").remove();

                if (page == 0) {
                    $('#prev').hide();
                } else {
                    $('#prev').show();
                }

                $.ajax({
                    url: '/posts/{{ post.key().id() }}/comments?page=' + page,
                    type: 'get',
                    dataType: 'json',
                    success: function (res) {
                        var comments = res;
                        if (comments.length == 0) {
                            $('#next').hide();
                        } else {
                            $('#next').show();
                        }

                        $.each(comments, function (index, comment) {
                            var ele = element(comment);
                            $('.pager').before(ele);
                        });
                    }
                });
            };

            var appendComments = function (comment) {
                var ele = element(comment);
                $('#commentForm').after(ele);
            };

            var currentPage = 0;
            renderComments(currentPage);

            $('#next').on('click', function (e) {
                currentPage += 1;
                renderComments(currentPage);
                return false;
            });

            $('#prev').on('click', function (e) {
                currentPage -= 1;
                renderComments(currentPage);
                return false;
            });

            $('#commentForm').on('submit', function (e) {
                var content = $("textarea[name='content']").val();
                $.ajax({
                    url: '/posts/{{ post.key().id() }}/comments',
                    type: 'post',
                    data: JSON.stringify({
                        content: content
                    }),
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (res) {
                        if (currentPage != 0) {
                            currentPage = 0;
                            renderComments(0);
                        } else {
                            console.log(res);
                            appendComments(res.data);
                        }
                    }
                });

                $('#commentForm textarea').val('');
                return false;
            });

            var updateComment = function(id, content) {
              var body = $("div#" + id).find(".panel-body");
              body.children(".edit-comment").remove();
              var p = body.find("p");
              p.text(content);
              p.show();
            };

            $(document).on("click", 'a[id^="edit-"]', function (e) {
                var id = $(this).attr("id").split("-")[1];
                var body = $("div#" + id).find(".panel-body");
                var p = body.find("p");
                var content = body.find("p").text();
                p.hide();

                var html =
                    '<div class="edit-comment">'
                    + '<textarea style="min-width: 100%">' + content + '</textarea>'
                    + '<div class="row">'
                        + '<div class="col-lg-6 col-md-6 text-left">'
                            + '<button class="btn btn-default" id="save-'+ id + '">Save</button>'
                        + '</div>'
                        + '<div class="col-lg-6 col-md-6 text-right">'
                            + '<button class="btn btn-danger " id="cancel-'+ id + '">Cancel</button>'
                        + '</div>'
                    + '</div>'
                    + '</div>';

                body.append(html);
                return false;
            });

            $(document).on("click", 'button[id^="save-"]', function (e) {
                var id = $(this).attr("id").split("-")[1];
                var content = $(this).parents(".edit-comment").children("textarea").val();
                $.ajax({
                    url: '/posts/{{ post.key().id() }}/comments/' + id,
                    type: 'put',
                    data: JSON.stringify({
                        content: content
                    }),
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (res) {
                        updateComment(id, content);
                    }
                });

                return false;
            });

            $(document).on("click", 'button[id^="cancel-"]', function (e) {
                var id = $(this).attr("id").split("-")[1];
                var body = $("div#" + id).find(".panel-body");
                body.children(".edit-comment").remove();
                var p = body.find("p");
                p.show();
            });

            $(document).on("click", 'a[id^="delete-"]', function (e) {
               var id = $(this).attr("id").split("-")[1];
               $.ajax({
                    url: '/posts/{{ post.key().id() }}/comments/' + id,
                    type: 'delete',
                    dataType: 'json',
                    success: function (res) {
                        renderComments(currentPage);
                    }
                });
               return false;
            });

            $(document).on("click", 'button[id="like"]', function (e) {
                var likeSection = $("div.like-section");
                var button = likeSection.find('button');
                button.prop('disabled', true);
                $.ajax({
                    url: '/posts/{{ post.key().id() }}/likes',
                    type: 'post',
                    dataType: 'json',
                    success: function (res) {
                        button.removeClass('btn-default').addClass('btn-info').text('Unlike').attr("id", "unlike-" + res.data.like._id).prop('disabled', false);
                        var likeText = likeSection.find('.like-text');
                        if (res.data.num_likes <= 1) {
                            var text = res.data.num_likes + ' person likes this post'
                        } else {
                            var text = res.data.num_likes + ' people like this post'
                        }
                        likeText.text(text);
                    }
                });
               return false;
            });

            $(document).on("click", 'button[id^="unlike-"]', function (e) {
                var id = $(this).attr("id").split("-")[1];
                var likeSection = $("div.like-section");
                var button = likeSection.find('button');
                button.prop('disabled', true);
                $.ajax({
                    url: '/posts/{{ post.key().id() }}/likes/' + id,
                    type: 'delete',
                    dataType: 'json',
                    success: function (res) {
                        button.removeClass('btn-info').addClass('btn-default').text('Like').attr("id", "like").prop('disabled', false);
                        var likeText = likeSection.find('.like-text');
                        if (res.data.num_likes <= 1) {
                            var text = res.data.num_likes + ' person likes this post'
                        } else {
                            var text = res.data.num_likes + ' people like this post'
                        }
                        likeText.text(text);
                    }
                });
                return false;
            });
        });
    </script>


{% endblock %}